pandas==0.25.1
pytest==5.2.1 #Testing, Test: Unit Test Framework
pytest-cov==2.8.1 #Testing, Test: Unit Test Coverage Report
mypy==0.730 #Testing, Type consistency
pylint==2.42 #Testing, Static Analysis
flake8==3.7.8 #Testing, Static Analysis: Syntax and Style Enforcement (Linting)